#Add {
    margin: 20px;
    float: right;
    border-radius:none;
    }
.btn-primary{
border-radius: 70px;
color: white;
}
h3{

display: inline-block;
margin: 25px;
}
.action{
margin:5px;
}
.fa-pen{
color: rgb(207, 207, 24);

}

.fa-plus{
color: green;
}

.fa-trash{
color: red;
}
.pen{
margin-right: 20px;
}